div.sensors {
	border-radius: 10px;
	opacity: 0;

	animation: 1s status_spawn forwards 0.2s;
}

span.sensor-title {
	color: white;
	font-size: 24px;
	margin-bottom: 10px;
}

div.sensor-list {
	width: 100%;
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

div.sensor-item {
	cursor: pointer;
	color: white;
	font-size: 18px;
	display: flex;
	gap: 20px;
	width: calc(100% - 10px);
	padding-left: 15px;
	padding-top: 2px;
	height: 50px;
	background: transparent;
	align-items: center;
	transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.sensor-item:hover {
	background: rgba(255, 255, 255, 0.1);
	transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.sensor-item svg {
	display: inline-block;
	vertical-align: middle;
	stroke: var(--status-active);
	translate: 0 -0.1em;
}

div.sensor-item > svg {
	height: 1.5em;
}

div.sensor-item .sensor-status {
	display: inline-block;
	position: absolute;
	right: 10px;
	color: var(--status-active);
	cursor: pointer;
	font-size: 18px;

	transition: 0.5s;
}

.sensor-status:hover {
	filter: brightness(1.5);
	text-decoration: underline;
}
