div.protection-status {
	width: calc(100% - 40px);
	height: max-content;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	aspect-ratio: 2;
	align-items: center;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	gap: 20px;
	transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	cursor: pointer;

	animation: 1s status_spawn forwards;
}

div.protection-status:hover {
	background: rgba(255, 255, 255, 0.1);
	transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes status_spawn {
	0% {
		opacity: 0;
		translate: 0 50%;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}

img.protection-icon {
	height: 90%;
}

.protection-header {
	color: white;
	font-size: 30px;
}

.protection-header .status {
	color: var(--status-active);
	font-size: 30px;
	display: block;
	margin-bottom: 0.5em;
}

.protection-header .status svg {
	stroke: var(--status-active);
	vertical-align: middle;
	translate: -0.2em -0.05em;
}
