div.bottombar {
	position: fixed;
	display: flex;
	bottom: 0;
	margin-bottom: 1em;
	width: calc(100% - 40px);
	height: 4em;
	gap: 0.5em;
}

.bottombar button {
	flex-grow: 1;
	background: transparent;
	position: relative;
	display: inline-block;
	border: none;
	cursor: pointer;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bottombar button:not(.active):hover {
	scale: 1.1;
}

.bottombar button:not(.active):active {
	scale: 0.9;
}

.bottombar svg {
	scale: 1.5;
	translate: 0 -50%;
}

.bottombar button.active, .bottombar button.active svg {
	color: var(--accent);
	stroke: black;
}

.bottombar button:not(.active):hover, .bottombar button:not(.active):hover svg {
	color: white;
	stroke: white;
}

.bottombar button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -110%;
	width: 100%;
	scale: 0 1;
	height: 50%;
	background: var(--accent);
	border-radius: 100px;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bottombar button.active::before {
	scale: 1;
}
